# Backup files
*~

# aclocal
aclocal.m4
autom4te.cache/*

# autoheader
src/*.h.in

# automake --add-missing
INSTALL
Makefile.in
depcomp
install-sh
missing
src/Makefile.in

# autoconf
configure

# ./configure
Makefile
config.log
config.status
scripts/NeuroServer.iss
scripts/makeSetup.sh
src/.deps/
src/Makefile
src/config.h
src/stamp-h1
